@model Xakpc.RazorHtmx.Data.UserInfoViewModel

<div hx-target="this" hx-swap="outerHTML">
    <p>
        <strong><label asp-for="@Model.FirstName"></label></strong>
        @Model.FirstName
    </p>

    <p>
        <strong><label asp-for="@Model.LastName"></label></strong>
        @Model.LastName
    </p>

    <p>
        <strong><label asp-for="@Model.Email"></label></strong>
        @Model.Email
    </p>

    <button hx-get="@Url.Page("ClickToEdit", "Edit", new { id = Model.Id })">
        Click To Edit
    </button>
</div>